.menu {
    display: block;
    height: 40px;
    width: 40px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
    border: 1px solid rgb(255 255 255 / 0.2);
    border-radius: 8px;
    z-index: 50;

    .burger {
        position: absolute;
    }

    .line {
        fill: none;
        stroke-width: 7px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition: stroke-dasharray 0.5s 0.2s, stroke-dashoffset 0.5s 0.2s,
            transform 0.5s 0.2s;
        stroke: #fff;
    }

    .line2 {
        stroke-dasharray: 40 200;
        stroke-dashoffset: 0px;
    }

    .line3 {
        stroke-dasharray: 40 179;
        stroke-dashoffset: 0px;
    }

    .x {
        position: absolute;
        transform: scale(0);
        transition: transform 0.4s;

        .line {
            stroke-width: 7px;
        }
    }

    &.active {
        .line {
            transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s,
                transform 0.5s;
        }
        .line1 {
            transform: scaleX(0);
            transition: transform 0.5s 0.1s;
        }
        .line2 {
            stroke-dasharray: 5px 200;
            stroke-dashoffset: -164px;
        }
        .line3 {
            stroke-dasharray: 5px 179;
            stroke-dashoffset: -142px;
        }
        .x {
            transform: scale(1);
            transition: transform 0.4s 0.35s;
        }
    }
}
